.card-header-c{
    /* background-color: rgb(228, 225, 225); */
    position: relative;
    width: auto;
    height: auto;
    margin:10px;
    display: grid;
    padding: 10px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
    transition: 0.1s;
    
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-img-top-c{
    height: 200px;
    width: 80%;
    padding: 20px;
    border-radius: 25px;
}


.card-title-c {
    text-align: center;
}
.card-text-c{
    text-align: center;
} 
.card-footer-c{
    text-align: center;
}